<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.mumukgang.cmmn.web.mapper.ChannelMapper">

	<insert id="createchannel" parameterType="egovframework.mumukgang.cmmn.web.vo.Channel">
		<selectKey keyProperty="ch_num" resultType="int" order="BEFORE">
			SELECT ifnull(MAX(ch_num),0)+1 AS ch_num
			FROM channel_info
		</selectKey>
		INSERT INTO channel_info (ch_num, ch_name, ch_create_email, ch_date, ch_type, ch_region)VALUES(#{ch_num}, #{ch_name}, #{ch_create_email}, #{ch_date}, #{ch_type}, #{ch_region});
	</insert>
	
	<insert id="channelmember" parameterType="egovframework.mumukgang.cmmn.web.vo.ChannelMember">
		INSERT INTO channel_member (ch_num, email) VALUES (#{ch_num}, #{email})
	</insert>
	
	<insert id="deleteinvited" parameterType="egovframework.mumukgang.cmmn.web.vo.ChannelMember">
		DELETE FROM channel_invited WHERE ch_num = #{ch_num} AND res_email = #{email}
	</insert>
	
	<insert id="channelinvited" parameterType="egovframework.mumukgang.cmmn.web.vo.ChannelInvited">
		INSERT INTO channel_invited VALUES (#{ch_num}, #{ch_name}, #{res_email}, #{req_email}, #{nickname}, #{request_time})
	</insert>
	
	<select id="selectchinvited" parameterType="String" resultType="egovMap">
		SELECT * FROM channel_invited WHERE res_email = #{email}
	</select>
	
	<select id="authoritychannel" parameterType="egovframework.mumukgang.cmmn.web.vo.ChannelMember" resultType="int">
		SELECT COUNT(*) FROM channel_member WHERE ch_num = #{ch_num} AND email = #{email} AND DEL_YN = 'N'
	</select>
	
	<select id="participatingch" parameterType="hashmap" resultType="egovMap">
		SELECT * FROM channel_member WHERE email = #{email} AND DEL_YN = 'N'
	</select>
	
	<select id="chhost" parameterType="hashmap" resultType="egovMap">
		SELECT ch_num FROM channel_info WHERE ch_create_email = #{email} AND DEL_YN = 'N'
	</select>
	
	<select id="selectchname" parameterType="hashmap" resultType="hashmap">
		SELECT ch_name FROM channel_info WHERE ch_num = #{ch_num} AND DEL_YN = 'N'
	</select>
	
	<select id="selectchtype" parameterType="hashmap" resultType="hashmap">
		SELECT ch_type FROM channel_info WHERE ch_num = #{ch_num} AND DEL_YN = 'N'
	</select>
	
	<select id="searchpublicch" parameterType="string" resultType="egovMap">
		SELECT * FROM channel_info WHERE ch_name like CONCAT('%', #{keyword} ,'%') AND ch_type = 1
	</select>
	
	<select id="searchpublicchregion" parameterType="string" resultType="egovMap">
		SELECT * FROM channel_info WHERE ch_region = #{region} AND ch_type = 1 AND DEL_YN = 'N'
	</select>
	
	<select id="searchpublicchwithregion" parameterType="hashmap" resultType="egovMap">
		SELECT * FROM channel_info WHERE ch_name like CONCAT('%', #{findchannel} ,'%') AND ch_type = 1 AND ch_region = #{region} AND DEL_YN = 'N'
	</select>
	
	<select id="selectfood"  resultType="egovMap">
		SELECT * FROM menu
	</select>
	
	<select id="countchmem" parameterType="int" resultType="int">
		SELECT COUNT(*) FROM channel_member WHERE ch_num = #{roomNo} AND DEL_YN = 'N'
	</select>
	
	<select id="delauthority" parameterType="hashmap" resultType="int">
		SELECT COUNT(*) FROM channel_info WHERE ch_num = #{roomNo} AND ch_create_email = #{email}
	</select>
	
	<update id="delchannel" parameterType="hashmap">
		UPDATE channel_member SET DEL_YN = 'Y' WHERE ch_num = #{roomNo};
		UPDATE channel_info SET DEL_YN = 'Y' WHERE ch_num = #{roomNo};
		<!-- DELETE * FROM channel_info WHERE ch_num = #{roomNo} -->
	</update>
	
	<select id="findpublicch" resultType="egovMap">
		SELECT * FROM channel_info WHERE ch_type = 1 AND DEL_YN = 'N'
	</select>
	
	<select id="ispublicch" parameterType="egovframework.mumukgang.cmmn.web.vo.ChannelMember" resultType="int">
		SELECT ch_type FROM channel_info WHERE ch_num = #{ch_num} AND DEL_YN = 'N'
	</select>
	
	<select id="selectchinfo" parameterType="int" resultType="hashmap">
		SELECT ch_name, ch_type, ch_region FROM channel_info WHERE ch_num = #{ch_num} AND DEL_YN = 'N';
	</select>
	
	<select id="selectchmember" parameterType="int" resultType="String">
		SELECT email FROM channel_member WHERE ch_num = #{ch_num} AND DEL_YN = 'N';
	</select>
	
</mapper>